@page "/battlelog"
@inject IBattleService BattleService

<h3>BattleLog</h3>
<ul class="list-group">
    @foreach (var item in BattleService.LastBattle.Log)
    {
        <li class="@GetClass(item)">@item</li> 
    }
</ul>
@code {
    string GetClass(string round)
    {
        if (round.Contains("kills"))
        {
            return "list-group-item list-group-item-danger";
        }
        else
        {
            return "list-group-item";
        }
    }
}
